@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(90deg, purple,#6621ae);
    overflow-x: hidden;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

#section-formCadastro{
    width: 40%;
    height: 97%;
    display: flex;
    align-items: center;
    justify-content:center;
}

#section-text{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

form{
    width: 85%;
    height: 99%;
    background-color: #fff;
    box-shadow: 0 0 30px 10px rgb(0 0 0 / 10%);
    border-radius: 10px;
}

.cabecalho{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    position: relative;
}

.cabecalho > #btnVoltar{
    color: rgb(238, 44, 44);
    text-decoration: none;
    position: absolute;
    left: 5%;
    top: 35%;
}

hr{
    width: 80%;
    margin: 0 auto;
    border: none;
    border-top: 1px solid #ccc;
}

.field-img{
    width: 90%;
    height: 13%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.field-img img{
    max-width: 70px;
    border-radius: 50%;
    margin-right: 5px;
}

input[type="file"]{
    display: none;
}

.custom-file-upload{
    background: linear-gradient(90deg, #6621ae, #4d0db8);
    color: #fff !important;
    font-weight: bold;
    border-radius: 8px;
    border: 0;
    padding: 8px 27px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.form-group{
    width: 90%;
    height: 12%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.form-group > label{
    font-weight: 600;
    color: #555;
}

.form-group > input{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;    
    padding: 5px;
}

.btnVerSenha{
    border: none;
    background: transparent;
}

.fa-eye, .fa-eye-slash{
    position: absolute;
    top: 35%;
    right: 1%;
    padding: 11px;
    cursor: pointer;
}

.btn-group{
    width: 100%;
    height: 17%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.btn-group > button{
    width: 45%;
    text-align: center;
    padding: 14px;
    background: linear-gradient(90deg, #6621ae, purple);
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.btn-group > button:hover{
    background: linear-gradient(90deg, #4d0db8, purple);
    transition: all .2s linear;
}

.btn-group > a:nth-child(2){
    width: 45%;
    padding: 14px;
    border-radius: 5px;
    background: linear-gradient(90deg, purple,#4d0db8);
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.btn-group > p{
    font-weight: 600;
    color: #555
}

.btn-group > a:nth-child(4){
    color: purple;
    font-weight: 600;
    text-decoration: none;
    margin-left: 5px;
}

#section-text > p{
    font-size: 1.1rem;
}

.subtitulo{
    color: #fff;
}

.logo{
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: #fff;
}

.logo h1{
    margin-left: 15px;
}

.container{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    align-items: center;
    color: #fff;
}

.container .fa{
    margin-right: 5px;
}

@media (max-width: 1024px) {
    main {
        height: auto;
        display: flex;
        flex-direction: column;
    }   
    #section-text {
        width: 100vw;
        height: 100vh;
    }
    #section-formCadastro {
        width: 100vw;
        height: 100vh;
    }
    form {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .field-img img {
        max-width: 60px;
    }   
}

@media (max-width: 425px) {
    .logo {
        font-size: 2rem;
    } 
}

@media (max-width: 320px) {
    .logo {
        font-size: 1.7rem;
    }
}